.App {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #000000;
  color: white;
  padding: 1rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.main {
  margin-block: 2rem;
  background-color: black;
  border-radius: 5px;
  color: #eee9e9;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  min-height:76vh;
  width: min(100%, 1200px);
  font-size: 1.2rem;
  align-self: center;
}

.main .create-todo {
  padding: 1.5rem 4rem;
  display: flex;
}

.main .create-todo * {
  border: none;
  border-bottom: 3px solid rgb(95, 93, 93);
  font-size: 1rem;
  margin-right: 1rem;
  padding: 0.8rem;
  border-radius: 5px;
}
.main .create-todo .Task-add {
  font-weight: bold;
  padding: 1rem 2rem;
}
.main .create-todo .task-name {
  flex: 3;
}
.main .create-todo .Task-add:hover {
  color: white;
  background-color: black;
}

.todo .todo-list .todo-item {
  text-align: center;
  padding-inline: 4rem;
  padding-block: 1rem;
}
.todo .todo-list .todo-item:hover {
  box-shadow: 2px 3px 10px 0px rgba(255, 255, 255, 0.75);
}
.todo .todo-list .todo-item .right-col,
.todo .todo-list .todo-item .left-col {
  padding: 6px 12px;
}

.todo .todo-list .todo-item,
.todo .todo-list .todo-item .right-col {
  display: flex;
  gap: 2rem;
  font-size: 1.4rem;
  justify-content: space-between;
  align-items: center;
}

.todo-item .right-col button {
  font-size: 1.4rem;
  padding: 6px 12px;
  border: 3px solid white;
  background-color: transparent;
  color: white;
}
.todo-item .right-col button:hover {
  background-color: white;
  color: black;
  border: 3px solid rgb(255, 216, 216);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(252, 246, 246, 0.15) 0px -36px 30px 0px inset,
    rgba(255, 255, 255, 0.1) 0px -79px 40px 0px inset,
    rgba(175, 171, 171, 0.06) 0px 2px 1px;
}
.task-title {
  margin-left: 1rem;
}
